<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" >
<head th:replace="base :: head" >
    <meta charset="UTF-8" />
    <title>Reddit Clone</title>
</head>

<body>

<div class="container">
<div class="jumbotron">
    <h1>Welcome to Reddit!</h1>
    <p>An application made by Daylin Henry and Orion Wolf-Hubbard</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
    <form action="#" th:action="@{/addlink}" th:object="${link}" method = "post">


        <div class="form-group">
            <label for="title">Title: </label>
            <input type="text" th:field="*{title}"  class="form-control" id="title" placeholder="Add title"/>
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title  Error</span>
        </div>

        <div class="form-group">
            <label for="hyperLink">hyperLink:</label>
            <input type="text" th:field="*{hyperLink}" target="_blank" class="form-control" id="hyperLink" placeholder="hyperLink"/>
        </div>

        <button type="submit" class="btn btn-default">Post your link</button>
    </form>


<br/>

    <h2>Reddit Links</h2>


    <div th:each="item :${links}" class="list-group">
        <a th:href="${item.hyperLink}" class="list-group-item">
            <h3 class="list-group-item-heading" th:text="${item.title}" ></h3>
            <p th:text="${item.timeStamp}"></p>
            <p class="list-group-item-text">...</p>
        </a>
        <br/>
    </div>








</div>


</body>
</html>